<nav class="navbar navbar-expand-lg navbar-dark bg-primary m-1">
  <a class="navbar-brand nav-font" href="#">math-app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">addition <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">subtraction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">multiplication</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">division</a>
      </li>
    </ul>
  </div>
</nav>

<div class="card text-center bg-info border-dark col-centered mt-5" style="width: 28rem; height: 16.8rem">
  <div class="card-body">
    <h5 class="card-title">This is a math problem</h5>
    <p class="card-text">This will be where randomly generated numbers appear</p>
    <a href="#" class="btn btn-primary">enter solution here</a>
  </div>
</div>
